{% extends 'base.html' %}
{% block description %}Login to your account.{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}

{% include "_flash_msg.html" %}

<section class="container">
    <h1>Login</h1>
</section>

<section class="container">
    <form method="post" action="/login">
        
        <!-- Implement CSRF protection -->
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}

            <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}
            </div>
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        {% endfor %}
        <button class="btn btn-success" type="submit">Register</button>

    </form>
</section>
{% endblock %}
